.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  overflow: auto;
  position: relative;
}
.sidebar-container {
  display: flex;
  flex-shrink: 0; 
}
/* Sidebar.css */

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #4e73df;
  width: 11rem;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}

.toggle-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .contenedor_logo {
    padding: 10px;
    margin-top: 8vh;
}
  .sidebar {
    position: fixed;
    top: auto;
    left: -150px;
    width: 100px;
    z-index: 100;
  }
  
.sidebar-divider{
  width: 80px;
}

.sidebar_menu span {
  font-size: 0.7rem !important;
}

  .sidebar.open {
    transform: translateX(150px);
    top: auto;
  }

  ul {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  li {
    margin-bottom: 20px;
  }

  .toggle-button {
    display: flex;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    left: 0.8rem;
    z-index: 200;
    background: #4e73df;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;

  }

  .sidebar_menu {
    justify-content: center !important;
     flex-direction: column; 
    margin-left: 0px !important;
  }

  .inner-card {
    padding: 0.5rem !important;
    flex-direction: column !important;
    gap: 0.15rem !important;
}
.inner_description {

  font-size: 1.25rem !important;

}
.transaction-table-container {
  overflow-x: auto;
}
.datos_transacciones{

  /*min-width: fit-content;*/
  

}
.text_dato{
 /* white-space: nowrap;*/
}

.datosP_transacciones{

 /* min-width: fit-content;*/
  

}
.text_datoP{
 /* white-space: nowrap;*/
}

.cont_datoFechaTurno{
  gap: 0 !important;
  flex-direction: column;
}
.text_fecha{
  margin: 0;
}
.text_turnoPutno{
  margin: 0;
}

.text_username{
  display: none;
}


  
}


.horizontal-navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  gap: 10px;
  height: 5vh;
}

.horizontal-navbar .logo {
  font-weight: bold;
}

.horizontal-navbar .profile {
  font-style: italic;
}

.header {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}


/* Navbar vertical */

.sidebar_ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
margin: 0;
}

.sidebar_li {
  margin: 0;
  margin-bottom: 0;
}

.sidebar_menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  gap: 0.5rem;
  margin-left: 0.8rem;
  color: #fff;
}

.sidebar_menu:hover {
  color: #fff;
}

.sidebar_menu:hover .sidebar_icon,
.sidebar_menu:hover span {
  color: #fff;
  font-weight: 700;
}

.sidebar_icon {
  color: rgba(255,255,255,.8);
}

.sidebar_menu span {
  font-weight: 500;
  font-size: 0.85rem;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: rgba(255,255,255,.8);
}

.activo .sidebar_menu   .sidebar_icon,
.activo .sidebar_menu   span {
  color: #fff;
  font-weight: 700;
}


.contenedor_logo{
  display: flex;
  justify-content: center;
  padding: 10px;

}
.App-logo{
  width: 100%;
}

.cont_sliroutes{
  width: 100%;
  background-color: #f2f2f2;
}

.sidebar-divider{
  border-top: 1px solid rgba(255,255,255,.15);
  margin: 0 0.8rem 0.8rem;
  margin-bottom: 0;
}

.sidebar-heading{
  margin-left: 0.8rem;
  text-transform: uppercase;
  color: rgba(255,255,255,.4);
  font-weight: 700;
    font-size: .65rem;
}
/* */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 /* grid-gap: 10px;*/

}

.card {

  padding: 0.25rem  0.85rem;

}
.inner-title{
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.inner-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 0.5rem;
 
}

.inner-card {
  background-color: #acacac;
 padding: 0.85rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5PX;
  cursor: pointer;
  gap: 0.25rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
.inner_description{
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}
.inner_manguera_desc{
  color: #ffffff;
  font-size: 0.65rem;
  font-weight: bold;
  margin: 0;
}

.icon-fuel{
  font-size: 2rem !important;
  color: #ffffff;
}

.selected {
  background-color: #4e73df;
}

.btn_cards{
  text-transform: uppercase;
  font-weight: 600;
    border-radius: 0.35rem;
    border: transparent;
    color: #fff;
    padding: 0.8em;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: hsl(0, 0%, 100%);
    background-color:hsl(224.69deg 69.38% 59.02%);
    transition: .8s ease;
}

.inner-card.selecteds {
  background-color: #564f4f;
}

.inner-card.unselected {
  background-color: #acacac;

}

.inner-card.selecteds.premium {
  background-color: #2f6ed3;
}
.inner-card.selecteds.regular {
  background-color: #0dc82f;
}
.inner-card.selecteds.glp {
  background-color: #e39234;
}
.inner-card.selecteds.diesel {
  background-color: #595b59;
}

/*  Error de Input*/

.alert-errorInput{
  font-size: 0.75rem;
  color: #721c24;
  margin: 0;
}

.floating-alertErrorInput {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(116, 114, 114, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.floating-alertErrorInput.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

}

/*  Error de Error*/

.alert-error{
  font-size: 1rem;
  color: #721c24;
  margin: 0;
}

.floating-alertError {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  position: fixed;
  top: 90%;
  right: 10px;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px rgba(116, 114, 114, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.floating-alertError.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

}

/*  Error de Success*/

.alert-success{
  font-size: 1rem;
  color: #176c18;
  margin: 0;
}


.floating-alertSuccess{

  background-color: #94e2b6;
  border: 1px solid #6ec17c;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  position: fixed;
  top: 90%;
  right: 10px;
  transform: translateY(-50%);
  box-shadow: 0 2px 4px rgba(116, 114, 114, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.floating-alertSuccess.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

}

/*Login */
.App-header {
  background-image:  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  ), url(https://surtidoreslatam.com/wp-content/uploads/2022/09/descarga.webp);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.login-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4b0;
  border-radius: 1rem;
  gap: 1rem;
  justify-items: center;
}

.App-logo{
  width: 80%;
  pointer-events: none;
}

.App-titulo{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  color: #1976d2;
  font-weight: bold;
}

.App-formulario{
width: 100%;
}


.character-count{
  margin: 0;
  text-align: end;
  font-size: 0.6rem;
}

.App-IMEI{
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}


input {
  width: 92%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.success-message{
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.success-container{
  background-color: #c6f5ee;
  color: #218535;
  border: 1px solid #c6f5ee;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
}


.error-container {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

.error-message {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.inf_pagoefectivo{
  background-color: hsl(224.69deg 69.38% 59.02%);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.inf_text{
  margin: 0;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
}
.fpago_text{
  margin: 0;
  font-size: 0.8rem;
  color: #000;
  text-align: start;
  font-weight: 700;
}

.datos_transacciones{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(224.69deg 69.38% 59.02%);
  border-radius: 0.5rem;
  height: 45px;
  margin-bottom: 0.35rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.text_dato{
  text-align: center;
  color: #fff;
  font-size: 0.5rem;
  font-weight: 600;
}

.datosP_transacciones{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  background-color: #acacac;
  border-radius: 0.5rem;
  height: 45px;
  margin-bottom: 0.35rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.text_datoP{
  text-align: center;
  color: #171616;
  font-size: 0.5rem;
  font-weight: 700;
}

.transaction-table-container::-webkit-scrollbar {
  width: 2px; 
  height: 0.5rem;/* width of the scrollbar */
}

.transaction-table-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
  border-radius: 2px; /* radius of the track */
}

.transaction-table-container::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar thumb */
  border-radius: 2px; /* radius of the scrollbar thumb */
}

.transaction-table-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar thumb on hover */
}

.container_user{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  cursor: pointer;
}

.cont_datoFechaTurno{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}

.text_fecha{
  color: #858796;
  font-size: 0.75rem;
  font-weight: 500;
}
.text_turnoPutno{
  color: #858796;
  font-size: 0.75rem;
  font-weight: 500;
}

.text_username{
  color: #858796;
  font-size: 0.75rem;
  font-weight: 500;
}

.img_username{
  width: 35px;
  height: 35px;
}

.topbar-divider{
  width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4rem - 2rem);
    margin: auto 0.25rem;
}


/* Estilos para el desplegable */
.dropdown {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 115px;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 0 0 0 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: .8s ease;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 5px 0;
  cursor: pointer;
  color: #858796;
  text-align: center;
  margin: 0;
}

.dropdown:hover {
  color: #fff;
  background-color: rgb(210, 211, 219);
}
.btn_automatico{
  width: 100%;
}

.cont_campos{
  display: flex;
  align-items: center;
}
.cont_Tcampos{
  margin-right: 0.5rem;
  width: 100%;
}

/* */
.ticket {
  width: 3.125in;
  height: 230ft;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.ticket h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ticket p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}

/* */
.trc{
  font-size: 10px;
  text-align: center;
  margin: 0;
  font-weight: 600;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.clm-trc{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}

.linea {
  border-top: 1px dashed #000;
  margin-top: 5px;
  width: 100%;
}
.text-end{
  display: grid;
}

.clm-trcS{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.text-RIGHT{
  text-align: right;
}

.logo{
  width: 60%;
}